.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.comment-item {
  width: 81%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.name-container {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin-bottom: 50px;
}
.top-container {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.name-time-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-bottom: 50px;
}
.container {
  display: flex;
  align-items: center;
}
.name {
  color: #334155;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}
.time {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 10px;
  margin-left: 15px;
}
.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 0px;
}
.bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-left: 8px;
}
.like-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.like-image {
  height: 20px;
  width: 20px;
}
.hr-rule {
  color: #b5b7c4;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
}
